*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #D5E1EF;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 320px;
height: 497px; 
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-top: 16px;
padding-bottom: 40px;
border-radius: 20px;
box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);

}
.bluediv{
    background-color: #2C7DFA;
    width: 288px;
height: 288px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}
h5{
    font-size: 25px;
    font-weight: 700px;
    text-align: center;
}
p{
    font-size: 15px;
font-style: normal;
font-weight: 400;
text-align: center;
}