*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#d5e1ef;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code{
    border-radius: 20px;
    width: 296.274px;
    height: 448.493px;
    background-color: #FFF;
}
